# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.js-lib.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\knolb\Documents\MaFolder\p3\AMP\AMP\01 My Point\js-lib\.idea\.idea.js-lib.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
